#box1, #box2, #box3, 
#box4, #box5, #box6,
#box7, #box8, #box9,
#box10, #box11, #box12 {
	background-image: url(../Images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


#box1:active {
	background-image: url(../Images/peppa.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box2:active {
	background-image: url(../Images/peppa.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box3:active {
	background-image: url(../Images/george.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box4:active {
	background-image: url(../Images/george.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box5:active {
	background-image: url(../Images/daddy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box6:active {
	background-image: url(../Images/daddy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box7:active {
	background-image: url(../Images/mummy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box8:active {
	background-image: url(../Images/mummy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box9:active {
	background-image: url(../Images/grandma.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box10:active {
	background-image: url(../Images/grandma.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box11:active {
	background-image: url(../Images/grandpa.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}


#box12:active {
	background-image: url(../Images/grandpa.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}
