.column {
	background-image: url(../Images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0;
	transition-delay: 0;
}
