#box1 {
	background-image: url(../Images/peppa.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box2 {
	background-image: url(../Images/peppa.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box3 {
	background-image: url(../Images/george.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box4 {
	background-image: url(../Images/george.png);;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box5 {
	background-image: url(../Images/daddy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box6 {
	background-image: url(../Images/daddy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box7 {
	background-image: url(../Images/mummy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box8 {
	background-image: url(../Images/mummy.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box9 {
	background-image: url(../Images/grandma.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box10 {
	background-image: url(../Images/grandma.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box11 {
	background-image: url(../Images/grandpa.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#box12 {
	background-image: url(../Images/grandpa.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}