* {
	box-sizing: border-box;
	text-align: center;
}

/* preload images so no lag at show*/
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(../Images/daddy.png)
		url(../Images/george.png)
		url(../Images/grandma.png)
		url(../Images/grandpa.jpeg)
		url(../Images/logo.png)
		url(../Images/logobanner.png)
		url(../Images/mummy.png)
		url(../Images/peppa.png);
}


body {
	position: relative;
	font-family: 'Gochi Hand', cursive;
}

.header {
	height: 7em;
	font-size: 0.8em;
	padding-top: 1em;
	margin-bottom: 1.5em;
	background-color: blue;
	color: white
}

.nav {
	margin-bottom: 1em;
	font-size: 1.5em;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 30rem;
	text-align: center;
	overflow: auto;
	text-align: center;
}

.column {
	height: 8rem;
	margin-left: 0.05em;
	margin-bottom: 0.05em;
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 33%;
	border: 1px solid gray;

}
